<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>low</key>
		<string>0</string>
		<key>higt</key>
		<string>46</string>
	</dict>
	<dict>
		<key>low</key>
		<string>0</string>
		<key>higt</key>
		<string>5</string>
	</dict>
	<dict>
		<key>low</key>
		<string>6</string>
		<key>higt</key>
		<string>11</string>
	</dict>
	<dict>
		<key>low</key>
		<string>12</string>
		<key>higt</key>
		<string>17</string>
	</dict>
	<dict>
		<key>low</key>
		<string>18</string>
		<key>higt</key>
		<string>29</string>
	</dict>
	<dict>
		<key>low</key>
		<string>30</string>
		<key>higt</key>
		<string>45</string>
	</dict>
	<dict>
		<key>low</key>
		<string>0</string>
		<key>higt</key>
		<string>250</string>
	</dict>
	<dict>
		<key>low</key>
		<string>0</string>
		<key>higt</key>
		<string>160</string>
	</dict>
	<dict>
		<key>low</key>
		<string>161</string>
		<key>higt</key>
		<string>170</string>
	</dict>
	<dict>
		<key>low</key>
		<string>171</string>
		<key>higt</key>
		<string>180</string>
	</dict>
	<dict>
		<key>low</key>
		<string>181</string>
		<key>higt</key>
		<string>190</string>
	</dict>
	<dict>
		<key>low</key>
		<string>190</string>
		<key>higt</key>
		<string>250</string>
	</dict>
	<dict>
		<key>low</key>
		<string>0</string>
		<key>higt</key>
		<string>150</string>
	</dict>
	<dict>
		<key>low</key>
		<string>0</string>
		<key>higt</key>
		<string>40</string>
	</dict>
	<dict>
		<key>low</key>
		<string>41</string>
		<key>higt</key>
		<string>50</string>
	</dict>
	<dict>
		<key>low</key>
		<string>51</string>
		<key>higt</key>
		<string>60</string>
	</dict>
	<dict>
		<key>low</key>
		<string>61</string>
		<key>higt</key>
		<string>70</string>
	</dict>
	<dict>
		<key>low</key>
		<string>71</string>
		<key>higt</key>
		<string>150</string>
	</dict>
</array>
</plist>
